---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于"
	description="关于 HuagoSR"
	pubDate={new Date('June 24 2026')}
	heroImage={AboutHeroImage}
>
	<p>这个页面先空着。</p>
	<p>等以后真有想写的，再来认真补。</p>
</Layout>
